.edit-budget-button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #3bc9db;
  background-color: #3bc9db;
  color: white;
  border-radius: 12px;
  font-size: 12px;
}

.edit-budget__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}
